.container {
  display: flex;
  width: 100%;
  padding: 1px;
}

.container input {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 16px;
  background: #f6f6f6;
  border-radius: 10px;
  margin-right: 1px;
}

.container button {
  padding: 10px;
  border: none;
  font-size: 16px;
  background: #f6f6f6;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}